<!DOCTYPE html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
         <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <title>Get Demo - WhereToBuild </title>
        <meta name="description" content="">
        <link rel="manifest" href="site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="static/img/favicon.ico">
        <script><script src="http://maps.google.com/maps/api/js?sensor=false
          type="text/javascript"></script>

		<!-- CSS here -->
            <link rel="stylesheet" href="static/css/bootstrap.min.css">
            <link rel="stylesheet" href="static/css/owl.carousel.min.css">
            <link rel="stylesheet" href="static/css/flaticon.css">
            <link rel="stylesheet" href="static/css/slicknav.css">
            <link rel="stylesheet" href="static/css/animate.min.css">
            <link rel="stylesheet" href="static/css/magnific-popup.css">
            <link rel="stylesheet" href="static/css/fontawesome-all.min.css">
            <link rel="stylesheet" href="static/css/themify-icons.css">
            <link rel="stylesheet" href="static/css/slick.css">
            <link rel="stylesheet" href="static/css/nice-select.css">
            <link rel="stylesheet" href="static/css/style.css">
   </head>

   <body>

    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="static/img/logo/company.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->

    <header>
        <!-- Header Start -->
       <div class="header-area">
            <div class="main-header ">
                <div class="header-top top-bg d-none d-lg-block">
                   <div class="container-fluid">
                       <div class="col-xl-12">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="header-info-left">
                                    <ul>
                                        <li><i class="fas fa-map-marker-alt"></i>AMURoboclub, Aligarh Muslim University, Aligarh, U.P., India</li>
                                        <li><i class="fas fa-envelope"></i>apoorve73@gmail.com</li>
                                        <li><i class="fas fa-envelope"></i>sanjana.maheshwari456@gmail.com</li>
                                        <li><i class="fas fa-envelope"></i>saloniguptasg12@gmail.com</li>
                                    </ul>
                                </div>
                                <div class="header-info-right">
                                    <ul class="header-social">
                                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                       <li> <a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                       </div>
                   </div>
                </div>
               <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-2 col-lg-1 col-md-1">
                                <div class="logo">
                                  <a href="index.html"><img src="static/img/logo/company.png" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-8 col-lg-8 col-md-8">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a href="http://127.0.0.1:5000/">Home</a></li>
                                            <li><a href="http://127.0.0.1:5000/about">About</a></li>
                                            <li><a href="http://127.0.0.1:5000/services">Get Demo Here</a></li>
                                            <li><a href="http://127.0.0.1:5000/login">Login</a></li>
                                            <li><a href="http://127.0.0.1:5000/signup">Sign Up</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-3 col-md-3">
                                <div class="header-right-btn f-right d-none d-lg-block">
                                    <a href="http://127.0.0.1:5000/contact" class="btn header-btn">Contact Now</a>
                                </div>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
       </div>
        <!-- Header End -->
    </header>
<a href="http://127.0.0.1:5000/">link</a>

    <main>

        <!-- slider Area Start-->
        <div class="slider-area ">
            <!-- Mobile Menu -->
            <div class="single-slider slider-height2 d-flex align-items-center" data-background="static/img/hero/services_hero.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2>Get Started with Quick Demo</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->

        <!-- services Area Start-->
        <div class="services-area section-padding2">
            <div class="container">
                <!-- section tittle -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-tittle text-center">
                            <h2>Best Vacant Land to build hospitals in <h1>Dallas, Texas, USA</h1></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<section class="contact-section">
            <div class="container">
                <div class="d-none d-sm-block mb-5 pb-4">
                    <div id="map" style="height: 700px; position: relative; overflow: hidden;"></div>
                    <script>
                        function initMap() {
                           var locations = [];
                            {% for coord in coords %}
                                locations.push([ '{{ coord.address }}', {{ coord.lat }}, {{ coord.lng }}]);
                            {% endfor %}
                            var grayStyles = [{
                                    featureType: "all",
                                    stylers: [{
                                            saturation: -10
                                        },
                                        {
                                            lightness: 10
                                        }]
                                },
                                {
                                    elementType: 'labels.text.fill',
                                    stylers: [{
                                        color: '#ccdee9'
                                    }]
                                }
                            ];
                            var map = new google.maps.Map(document.getElementById('map'), {
                                        zoom: 7,
                                        center: new google.maps.LatLng(32.7767, -96.797),
                                        //mapTypeId: google.maps.MapTypeId.HYBRRID
                                        styles: grayStyles,
                                        scrollwheel: false
                                        });
                                        var infowindow = new google.maps.InfoWindow();

                            var marker, i;

                                for (i = 0; i < locations.length; i++) {
                                    marker = new google.maps.Marker({
                                    position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                                    map: map
                                  });

                            google.maps.event.addListener(marker, 'click', (function(marker, i) {
                                return function() {
                                infowindow.setContent(locations[i][0]);
                                infowindow.open(map, marker);
                            }
                        })(marker, i));
                    }
                }
                </script>
                    <script src="https://maps.googleapis.com/maps/api/js?sensor=false&amp;callback=initMap">
                    </script>
                </div>
            </div>
</section>

    </main>
    <footer>
       <!-- Footer Start-->
       <div class="footer-area footer-padding">
           <div class="container">
               <div class="row d-flex justify-content-between">
                   <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                      <div class="single-footer-caption mb-50">
                        <div class="single-footer-caption mb-30">
                             <!-- logo -->
                            <div class="footer-logo">
                                <a href="index.html"><img src="static/img/logo/company.png" alt=""></a>
                            </div>
                            <div class="footer-tittle">
                                <div class="footer-pera">
                                    <p>Build to Save Lives</p>
                               </div>
                            </div>
                            <!-- social -->
                            <div class="footer-social">
                                <a href="#"><i class="fab fa-facebook-square"></i></a>
                                <a href="#"><i class="fab fa-twitter-square"></i></a>
                                <a href="#"><i class="fab fa-linkedin"></i></a>
                                <a href="#"><i class="fab fa-pinterest-square"></i></a>
                            </div>
                        </div>
                      </div>
                   </div>
                   <div class="col-xl-2 col-lg-2 col-md-4 col-sm-5">
                       <div class="single-footer-caption mb-50">
                           <div class="footer-tittle">
                               <h4>Company</h4>
                               <ul>
                                   <li><a href="http://127.0.0.1:5000/">Home</a></li>
                                   <li><a href="http://127.0.0.1:5000/about">About</a></li>
                                   <li><a href="http://127.0.0.1:5000/services">Get Demo Here</a></li>
                                   <li><a href="http://127.0.0.1:5000/login">Login</a></li>
                                   <li><a href="http://127.0.0.1:5000/signup">Sign Up</a></li>
                               </ul>
                           </div>
                       </div>
                   </div>
                   <div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
                       <div class="single-footer-caption mb-50">
                           <div class="footer-tittle">
                               <h4>Services</h4>
                               <ul>
                                   <li><a href="services">Strategic Planning</a></li>
                                   <li><a href="services">Realtime Locaions</a></li>
                                   <li><a href="services">Best Deals</a></li>
                               </ul>
                           </div>
                       </div>
                   </div>
                   <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                       <div class="single-footer-caption mb-50">
                           <div class="footer-tittle">
                               <h4>Get in Touch</h4>
                               <ul>
                                <li><a href="#">+9194********</a></li>
                                <li><a href="#"> wheretobuild@gmail.com</a></li>
                                <li><a href="#">Dallas, Texas, USA</a></li>
                            </ul>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
       <!-- Footer End-->
   </footer>

	<!-- JS here -->

		<!-- All JS Custom Plugins Link Here here -->
        <script src="./static/js/vendor/modernizr-3.5.0.min.js"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script src="./static/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="./static/js/popper.min.js"></script>
        <script src="./static/js/bootstrap.min.js"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="./static/js/jquery.slicknav.min.js"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="./static/js/owl.carousel.min.js"></script>
        <script src="./static/js/slick.min.js"></script>
        <!-- Date Picker -->
        <script src="./static/js/gijgo.min.js"></script>
		<!-- One Page, Animated-HeadLin -->
        <script src="./static/js/wow.min.js"></script>
		<script src="./static/js/animated.headline.js"></script>
        <script src="./static/js/jquery.magnific-popup.js"></script>

		<!-- Scrollup, nice-select, sticky -->
        <script src="./static/js/jquery.scrollUp.min.js"></script>
        <script src="./static/js/jquery.nice-select.min.js"></script>
		<script src="./static/js/jquery.sticky.js"></script>

        <!-- contact js -->
        <script src="./static/js/contact.js"></script>
        <script src="./static/js/jquery.form.js"></script>
        <script src="./static/js/jquery.validate.min.js"></script>
        <script src="./static/js/mail-script.js"></script>
        <script src="./static/js/jquery.ajaxchimp.min.js"></script>

		<!-- Jquery Plugins, main Jquery -->
        <script src="./static/js/plugins.js"></script>
        <script src="./static/js/main.js"></script>

    </body>
</html>